<div class="page-header">
  <%= content_tag :h1, t('Marketplace.course_marketplace_preference.dashboard_title') %>
</div>
<div>
  <%= render partial: 'publish_records/dashboard_sales', locals: {publish_record: publish_record} %>
</div>
