<div>
  <%= form_tag(marketplace_search_path(user_marketplace_id), method: "GET", class: "form-search") do %>
    <%= text_field_tag(:keywords, params[:keywords], :class => "input-xxlarge search-query") %>
    <%= submit_tag("Search", :id => "submit_search_btn", :class => "btn") %>
    <a data-toggle="search-tooltip" href="#" title="<%= t("Marketplace.index.search_tooltip") %>">
      [?]
    </a>
  <% end %>
</div>
