<meta name="viewport" content="width=device-width">

<div class="marketplace_entry_banner">
  <div id="search_box">
    <div id="search_section">
      <%= render :partial => "search_form" %>
    </div>
    <div id="suggestion_section">
      <%=  render :partial => "suggested_categories" %>
    </div>
  </div>
</div>
