<h1><%= t("Marketplace.search.title") %></h1>
<%= render partial: "search_form" %>
<div class="search-results container-fluid">
  <% @final_results.each { |course| %>
    <tr>
      <td>
        <%= render partial: "marketplace_course_display_simple", locals: {course: course} %>
      </td>
    </tr>
  <% } %>
</div>
