<div>
  <% if @created_courses.empty? %>
    <div>
      <div>You have not created any courses.</div>
      <% if can? :manage, Course %>
        <%= link_to t("Marketplace.my_marketplace_courses.new_course"),
                    new_course_path,
                    class: 'btn btn-primary' %>
      <% else %>
        <span>You have to be a lecturer to create a course.</span>
        <% if request = RoleRequest.exist_lecturer_request?(current_user) %>
          <span>Your request is being processed.</span>
          <div>
            <%= link_to t("Marketplace.my_marketplace_courses.update_lecturer_request"),
                        edit_role_request_path(request, redirect: my_marketplace_courses_path(active: 'created_tab')),
                        class: 'btn btn-primary' %>
          </div>
        <% else %>
          <div>
            <%= link_to t("Marketplace.my_marketplace_courses.lecturer_request"),
                        new_role_request_path(redirect: my_marketplace_courses_path(active: 'created_tab')),
                        class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div>
      <% @created_courses.each { |course| %>
        <%= render partial: "created_course_info_simple", locals: {course: course} %>
      <% } %>
    </div>
  <% end %>
</div>