<div>
  <% if @course_purchases.empty? %>
    <div>
      <div>You have not purchased any course.</div>
      <% if not can? :manage, Course %>
        <span>You have to be a lecturer to purchase a course.</span>
        <% if request = RoleRequest.exist_lecturer_request?(current_user) %>
          <span>Your request is being processed.</span>
          <div>
            <%= link_to t("Marketplace.my_marketplace_courses.update_lecturer_request"),
                        edit_role_request_path(request, redirect: my_marketplace_courses_path(active: 'created_tab')),
                        class: 'btn btn-primary' %>
          </div>
        <% else %>
          <div>
            <%= link_to t("Marketplace.my_marketplace_courses.lecturer_request"),
                        new_role_request_path(redirect: my_marketplace_courses_path(active: 'created_tab')),
                        class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div>
    <% if can? :manage, Course %>
      <%= link_to t("Marketplace.my_marketplace_courses.browse_courses"),
                  courses_path,
                  class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% if not @course_purchases.empty? %>
    <div>
      <% @course_purchases.each { |course_purchase| %>
        <%= render partial: "purchased_course_info_simple", locals: {course_purchase: course_purchase} %>
      <% } %>
    </div>
  <% end %>
</div>
