<div>
  <%= render partial: 'purchase_history', locals: {course: course, course_purchase: course_purchase} %>
  <%= render partial: 'form', locals: {course: course, course_purchase: course_purchase} %>
</div>