<div>
  <div class="page-header">
    <%= content_tag :h1, get_confirmation_title %>
  </div>
  <div>
    <%= content_tag :p, get_confirmation_notice %>
    <%= link_to get_btn_text, get_btn_url, class: 'btn btn-primary' %>
  </div>
</div>