// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-logo {
  height: 150px;
  width:  auto;
}

.media-heading {
  height: 38px!important;
  max-width: 180px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.creator-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-thumbnails {
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  display: inline-block;
}

.btn-primary a {
  color: white;
}

.btn-primary a:hover {
  color: aliceblue;
}

td {
  padding-left: 5px;
}

.bold-label {
  font-weight: bold;
}

.form-horizontal {
  input {
    margin-top: 0px !important;
    margin-bottom: 3px !important;
  }
  margin-bottom: 0px;
  margin-top: 1px;
}

.filter-btn {
  float: right;
  font-size: 11px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-right: 5px;
}


.top-align-child {
  vertical-align: top;
}