// Place all the styles related to the my_marketplace_courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-created-course-display-simple {
  border: 1px solid transparent;
  margin: 10px 0px 10px 0px;
  transition: border-color 0.5s;
  font-size: 18px;
  width: 1000px;
}

.my-created-course-display-simple:hover {
  border-color: black;
}

.course-info-quick-access-btn {
  margin: 10px 10px 10px 10px;
}