#payout_identity {
  margin-left: 5px;

  span {
    font-weight: bold;
  }

  a {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }
}

#change_payout_identity_dialog form {
  margin-bottom: 0px;
}