// Place all the styles related to the publish_record controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#purchase_history_div div {
  text-align: center;
}

.bottom-border-div {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.purchase-history-item, .dashboard-course-purchase-item {
  border: 1px solid transparent;
  border-top-color: lightgray;
  transition: border-color 0.5s;
}

.purchase-history-item:hover, .dashboard-course-purchase-item:hover {
  border-color: gray;
}

.dashboard-course-purchase-item span {
  vertical-align: middle;
}

#no_sales_notice {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0px 20px 0px;
}

#payout_identity_form {
  border: 1px solid #eeeeee;

  form {
    margin-bottom: 0px;
  }
}