#vacancy {
  width: 60px !important;
}

#order_submit_btn {
  width: 100%;
}

#payment_method_submit_btn {
  margin-left: 20px;
}

#order_detail {
  font-size: 18px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
  padding: 5px 0px 5px 0px;
  margin-top: -27px;
  background-color: #EDFAFF;
}

#order_detail td {
  padding: 5px 0px 5px 5px;
}
