<meta name="viewport" content="width=device-width">

<div class="marketplace_entry_banner">
  <div id="search_box">
    <%= form_tag(marketplace_search_path, method: "GET") do %>
      <%= text_field_tag(:search_keywords) %>
      <%= submit_tag("Search by keywords") %>
    <% end %>
    <%=  render :partial => "suggested_categories" %>
  </div>
</div>
