<h1>Search Results</h1>
<table class="search-results">
  <!-- TODO implement search display -->
  <% @keywords.each { |key, value| %>
    <tr>
      <td>
        <%= key %>:
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% } %>
</table>
